testapp/src/main/mule/testapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a213c278-f8f8-4dde-a466-4353235c1ec8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="f2ccb4e8-997f-4fa5-9bd2-7f12789db452" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Bubbybubby@2993" database="ce_franchise" />
	</db:config>
	<flow name="testappFlow" doc:id="0d124f26-d9d2-49ed-ab9e-02fac2adbfcf" >
		<http:listener doc:name="Listener" doc:id="baae64f2-c205-42ff-97c5-12a09b17900c" config-ref="HTTP_Listener_config" path="/test"/>
		<db:stored-procedure doc:name="Stored procedure" doc:id="71a9a30f-2d23-4b40-8ec9-79933aa52501" config-ref="Database_Config">
			<db:sql ><![CDATA[call Validate_SystemPartnerId( :inputRequest, :outResponse);]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'inputRequest': payload.systemPartnerId}]]]></db:input-parameters>
			<db:output-parameters >
				<db:output-parameter key="outResponse" type="CHAR" />
			</db:output-parameters>
		</db:stored-procedure>
		<ee:transform doc:name="Transform Message" doc:id="fe428ea1-d0c3-4162-8f1b-45ed303321a1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
